@media screen and (min-width:769px){

    body {
        max-width: 100%;

       .title{ 
           padding: 30px 0px 31px 0px;
       }

       .tuto {
           @include display-column;
           padding: 50px 180px 0px 180px;
           margin: auto;
           max-width: 1080px;
           .tuto_gap{
               @include display-row;
               justify-content: center;
               margin: 25px 0px 50px 0px;
               .tuto_card{
                   width: 100%;
                   padding: 0px 20px 0px 35px;
                   .tuto_txt{
                      margin-left: 15px;
                   }
               }
           }
       }

       .restauration{
           padding: 50px 180px;
           max-width: 1080px;
           margin: auto;
           .restau{
               margin-top: 20px;
               @include display-row;
               flex-wrap: wrap;
               width:100%;
               a{
                   width:calc(100%/2 - 18px);
               }
           }
       }

       .fa-heart{
            &.restau{
                bottom: 0;
                top: 60px;
                right: 130px;
            }
        }

       .img_restau{
        width: 100%;
        object-fit: cover;
        height: 400px;
        object-position: 100% 55%;
    }

       .menu{
        width: 70%;
        position: relative;
        margin: auto;
        margin-top: -35px;
        max-width: 1080px;
        .name{
            justify-content: center;
            gap:18px;
        }
    }

    .space{
        .gap{
            @include display-column;
            gap: 12px;
            margin: 0px 90px 0px 90px;
        }
    }


       footer{       
           padding: 30px 25px;
           @include display-row;
           flex-direction: row-reverse;        
           .foot_title{
               padding-left: 30px;
               padding-right: 30px;
           }
           ul{
               @include display-row;
               align-items: center;
               gap: 30px;
           }
       }
   }     

}