@import "variables";
@import 'mixin';
@import "commun";
@import 'titles';
@import 'responsive';

// style page home :
.title{ 
    @include top-title ;
    @include justify-center;
    padding: 14px 89px 13px 75px;
}

.titletwo{
    @include subtitle-home;
}

.top_page{
    @include display-row;
    @include justify-center;
    background-color: $backg-color;
    width: 100%;
    gap: 17px;
    height: 50px;
}

.welcome{
    background-color: $backg-color-two;
    height: max-content;
    .welcontent{
        @include display-column;
        @include justify-center;
        gap: 30px;
        .button{
            width: 218px;
        }
        .hook{
            @include display-column;
            @include justify-center;
            padding: 30px 20px 0px 20px;
            text-align: center;
            gap: 10px;
        }
    }
}

.tuto {
    @include display-column;
    padding: 50px 15px 0px 15px;
    .tuto_gap{
        @include display-column;
        gap: 20px;
        margin: 20px 0px 70px 0px;
        .fusion{
            @include display-row;
            .number{
                background-color: $main-color;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                @include justify-center;
                color: white;
                align-self: center;
                position: relative;
                left: 10px
            }
        }
        .tuto_card{
            background-color: $backg-color-two;
            @include display-row;
            justify-content: space-around;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            padding: 0px 15px;
            height: 70px;
            width: 100%;
            .tuto_txt{
                @include display-row;
                gap: 30px;
                @include justify-center;

            }
        }
    }
}

.restauration{
    background-color: $backg-color-two;
    padding: 50px 15px;
    .restau{
        @include display-column;
        gap: 18px;
        a{
            width: 100%;
            height: max-content;
            .home_card{
                border-radius: 15px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                height: 231px;
                @include display-column;
                .home_img{
                    object-fit: cover;
                    width: 100%;
                    border-radius: 15px 15px 0px 0px;
                    overflow: hidden;
                }
                .text{
                     @include display-row;
                     justify-content: space-between;
                     padding: 15px 0px 15px 15px;
                    .txt{
                        @include display-column;
                    }
                    i{
                        padding-right: 20px;
                        align-self: center;
                    }
                }

            }
        }
    }
}

// style page restaurant :
.title_top_restau{ 
    @include top-title ;
    @include justify-center;
    padding: 14px 0px 13px 0px;
    width: 100%;
}

.en-tete{
    @include display-row;
    width: 100%;
    .arrow{
    position: relative;
    top: 28px;
    left: 30px;
    }
}

.img_restau{
    width: 100%;
    object-fit: cover;
    height: 275px;
}

.menu{
    background-color: $backg-color-two;
    border-radius: 20px 20px 0px 0px;
    @include display-column;
    gap: 40px;
    padding: 50px 15px 0px 15px;
    .name{
        @include display-row;
        padding-left:15px;
        justify-content: space-between;
        align-items: center;
        .sub-title-restau{
            @include  subtitle-restaurants;
        }
    }
}

.space{
    @include display-column;
    gap: 40px;
    .gap{
        @include display-column;
        gap: 12px;
        .bar{
            border-bottom: solid 3px $bar-color;
            width: 40px;
        }
        .restau_card{
            background-color: white;
            border-radius:20px;
            @include display-row;
            justify-content: space-between;
            gap: 5px;
            padding: 15px 0px 15px 15px;
            .restau_txt{
                @include display-column;
               line-height: 135%;
            }
            .money{
                font-family: $main-font;
                font-weight: 700;
                font-size: 15px;
                padding-right:15px;
                height: min-content;
                align-self: flex-end;
            }
        }
    }
}