@import "variables";
@import "commun";
@import 'titles';

@include top-title;
@include subtitle-home;
@include subtitle-restaurants;
@include display-column;
@include display-row;
@include justify-center;
@include title-footer;
@include subtilte-footer;
@include conctact-footer;

// ...

// style page home :

.top_page{
    @include display-row;
    @include justify-center;
    background-color: $backg-color;
    width: 100%;
}

.welcome{
    background-color: $backg-color-two;
    .welcontent{
        @include display-column;
        @include justify-center;
    }
}

.tuto{
    @include display-column;
    .tuto_card{
        background-color: $backg-color-two;
        @include display-row;
        justify-content: space-around;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        .number{
            background-color: $main-color;
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
    }
}

.restauration{
    background-color: $backg-color-two;
    .restau{
        @include display-column;
        .home_card{
            border-radius: 15px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            @include display-column;
            .home_img{
                object-fit: cover;
                .text{
                    @include display-row;
                    justify-content: space-between;
                    padding: 5px;
                    .txt{
                        @include displey-column;
                    }
                }
            }
        }
    }
}

// style page restaurant :

.img_restau{
    width: 100%;
    height: 275px;
}

.menu{
    background-color: $backg-color-two;
    border-radius: 20px 20px 0px 0px;
    .name{
        @include displey-row;
        justify-content: space-between;
        .sub-title-restau{
            @include subtilte-restau
        }
    }
} 

.space{
    @include displey-columnn;
    gap: 40px;
    .gap{
        @include dislay-column;
        gap: 12px;
        .bar{
            border-bottom: solid 3px $bar-color;
        }
        .restau_card{
            background-color: white;
            border-radius:10px;
            @include display-row;
            gap: 5px;
            .restau_txt{
                @include display-column
            }
        }
    }
}