
h1{ font-family: $main-font;
    font-weight: $weight-5;
    font-size: 16px;
}

h2{ font-family: $main-font;
    font-weight: $weight-3;
    font-size: 18px;
}

h3{ 
    font-family: $main-font;
    font-weight: $weight-7;
    font-size: 18px;
}

h4{ 
    font-family: $main-font;
    font-weight:$weight-3;
    font-size: 17px;
}

h5{ 
    font-family:$main-font;
    font-weight: $weight-3;
    font-size: 16px;
}

h6{ 
    font-family: $main-font;
    font-weight: $weight-5;
    font-size: 18px;
}

p{ 
    font-family: $main-font;
    font-weight: $weight-3;
    font-size: 15px;
}

.money{ 
    font-family: $main-font;
    font-weight: $weight-7;
    font-size: 15px;
}

