*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

:root{
    --main-color:#9356DC;
    --second-color:#003A68;
    --bar-color:#99E2D0;
    --button-color:#FF79DA;
}

.fa-solid {
    color: black;
}

.fa-thin{
    color: black;
}

body{
    max-width:375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    width: 100%;
}

h1{
    font-family:'Shrikhand';
    font-weight: 400;
    font-size: 30px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

.location{
    display: flex;
    background: var(--Grey-2, #EAEAEA);
    gap: 17px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 20px;    
    padding: 25px;
}

.welcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    width: 75%;
}
.welcome a{
    text-decoration: none;
}

.mainbutton{
    display: flex;
    width: 218px;
    height: 50px;
    color: var(--White, #FFF);
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: solid 0px var(--main-color);
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    font-size: 16px;
    font-weight:500;
}

.tuto{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 10px;
}

.protoc{
    display: flex;
    gap: 10px;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
/* 
.lvl{


} */

.step{
    display: flex;
    justify-content: center;
    background-color: #f6f6f6 ; 
    align-items: center;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    height:50px ;
    width: 80%;
}

.number{
    background-color: var(--main-color);
    color: #FFF;
    width: 24px;
    height: 24px;
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 14px;
   
}


.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #f6f6f6;
    padding: 50px 10px;
}
.restaurant a{
    text-decoration: none;
    color: black; 
}

.card{
    background-color: #FFF;
    border-radius: 15px;
}

.card img{
    height: 231px;
    width: 346px;
    
    object-fit: cover;
}

.botxt{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.txt{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #353535 ;
    padding: 22px 25px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    color: #FFF;
}

h6{
    font-family: 'Shrikhand';
    font-size: 18px;
    font-weight: 400;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-weight: 400;
    gap: 7px;
}

/* page restaurant */

h4{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.imgtop{
    width: 100%;
    object-fit: cover;
    height: 275px;
}

.backcolor{
    background-color: #f6f6f6;
    display: flex; 
    flex-direction: column; 
    gap: 40px;  
    padding: 10px;
}

.topsection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.menu{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.menucontent{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.menucontent a{
     text-decoration: none;
     color: #000;
}
.bar{
     border-bottom: solid var(--bar-color) 3px;
     width: 40px;
}

.card{
    background-color: #FFF;
    border-radius:15px;
    padding: 10px;
}