.fa-heart{
    width: 22px;
    height: 21px;
    color: #101010;
}

.fa-location-dot{
    color: #353535;
}

.fa-mobile-screen-button{
    color: #7e7e7e;
}

.fa-list{
    color: #7e7e7e;
}

.fa-store{
    color:#9356dc;
}

.fa-utensils{
    color:#ffff;
}

.fa-handshake-angle{
    color:#ffff;
}

.fa-spinner{
    color: $bar-color;
}