.fa-heart{

    position: absolute;
    bottom: 28px;
    right: 25px;
    width: 22px;
    height: 21px;
    font-size: 20px;
    color: #101010;
    &.restau{
        bottom: 0;
        top: 60px;
        right: 25px;
    }
    &.survol {
            color: transparent;
            background-image: linear-gradient($main-color, $button-color);
            background-clip: text;
            opacity: 0;
            transition-duration: 0.5s;
            &:hover {
                    opacity: 1;
                    transition-duration: 0.5s;
                }
        }
}

.fa-arrow-left{
    color: #353535;
}

.fa-location-dot{
    color: #353535;
}

.fa-mobile-screen-button{
    color: $color-icone;
}

.fa-list{
    color: $color-icone;
}

.fa-store{
    color:$color-icone;
}

.fa-utensils{
    color:#ffff;
}

.fa-handshake-angle{
    color:#ffff;
}

.fa-spinner{
    color: $bar-color;
}

.fa-circle-check{
    color: #ffff;
}