.fa-heart{
    width: 22px;
    height: 21px;
    color: #101010;
}
.fa-arrow-left{
    color: #353535;
}

.fa-location-dot{
    color: #353535;
}

.fa-mobile-screen-button{
    color: $color-icone;
}

.fa-list{
    color: $color-icone;
}

.fa-store{
    color:$color-icone;
}

.fa-utensils{
    color:#ffff;
}

.fa-handshake-angle{
    color:#ffff;
}

.fa-spinner{
    color: $bar-color;
}

.fa-circle-check{
    color: #ffff;
}