@keyframes chargement{
    from{
        transform: scale(1);
    }
    to{
        transform:scale(0);
    }
}

@keyframes spin{
    from{
        transform: rotate(0);
    }
    to{
       transform: rotate(360deg);
    }
}

@keyframes big{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.02);
    }
}

@keyframes menu_appear{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}