// title
@mixin top-title{
    font-family: $second-font;
    font-size: 30px;
    font-weight: 400;
}

@mixin subtitle-home{
    font-family: $main-font; 
    font-size: 24px; 
    font-weight:700;
}

@mixin subtitle-restaurants{
    font-family: $second-font; 
    font-size: 28px;
    font-weight: 400;
}

// flex

@mixin display-column{
    display: flex;
    flex-direction: column;
}

@mixin display-row{
    display: flex;
    flex-direction: row;
}

@mixin justify-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

// footer
@mixin title-footer{
    font-family: $second-font; 
    font-size: 18px;
    font-weight: 400;
}

@mixin subtilte-footer{
    font-family: $main-font; 
    font-size: 16px;
}

@mixin conctact-footer{
    font-family: $main-font; 
    font-size: 16px;
    font-weight: 400;
}