// color
$main-color: #9356DC ;
$bar-color: #99E2D0;
$button-color: #FF79DA;
$backg-color: #EAEAEA;
$backg-color-two: #f6f6f6;
$color-icone:#7e7e7e;

// font
$main-font:'Roboto',sans-serif;
$second-font:'Shrikhand';
