.title_top_restau{ 
    @include top-title ;
    @include justify-center;
    padding: 14px 0px 13px 0px;
    width: 100%;
}

.en-tete{
    @include display-row;
    width: 100%;
    .arrow{
    position: relative;
    top: 28px;
    left: 30px;
    }
}

.img_restau{
    width: 100%;
    object-fit: cover;
    height: 275px;
}

.menu{
    background-color: $backg-color-two;
    border-radius: 20px 20px 0px 0px;
    @include display-column;
    gap: 40px;
    padding: 50px 15px 0px 15px;
    position: relative;
    margin-top:-35px;
    .name{
        @include display-row;
        padding-left:15px;
        justify-content: space-between;
        align-items: center;
        .sub-title-restau{
            @include  subtitle-restaurants;
        }
    }
}

.space{
    @include display-column;
    gap: 40px;
    .gap{
        @include display-column;
        gap: 12px;
        .bar{
            border-bottom: solid 3px $bar-color;
            width: 40px;
        }
        .restau_card{
            background-color: white;
            border-radius:20px;
            @include display-row;
            justify-content: space-between;
            gap: 5px;
            overflow: hidden;
            animation: menu_appear 2s;
            .restau_txt{
                @include display-column;
               line-height: 135%;
               padding: 15px 0px 15px 15px;
               text-overflow: ellipsis;
               text-wrap: nowrap;
               overflow: hidden;
            }
            .money_check{
                @include display-row;
                margin-right: -50px;
                transition: all 1s;
                .money{
                    font-family: $main-font;
                    padding-bottom: 15px;
                    font-weight: 700;
                    font-size: 15px;
                    padding-right:15px;
                    height: min-content;
                    align-self: flex-end;
                }
                .check{
                    background-color: $bar-color;
                    width: 50px;
                    display: grid;
                    place-items: center;
                    
                }
            }
            &:hover .money_check{
                margin-right: 0;
                i{
                        animation: spin 1s;
                    }
            }

        }
    }
}